:root {
    --yellowColor: #d0ff00;
    --blueColor: #00acff;
    --orangeColor: #f49100;
    --iconColor: #6d6d6d;
    --blackColor: #333333;
    --whiteColor: #fff;
    /*DARK MODE*/
    scroll-behavior: smooth;
}
.darkMode {
    --blackColor: #fff;
    --whiteColor: #000;
}
body {
    background: var(--whiteColor);
}
* {
    box-sizing: border-box;
}
/*------About Page------*/
.valeurCard {
transition: 1s !important;    
}


.card:hover {
    scale: 1.02 !important;
    transition: 0.5s !important;

}


/* undi ->jeudi 
14:00->09
14:30->09
14:00 ->19:00 */